body,
p,
ul,
ol,
li,
form,
th,
td,
select,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
title,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
li,
dt,
dd {
  list-style: none;
}
body {
  font-size: 12px;
  color: #555;
  font-family: Microsoft YaHei, arial, tahoma, '\5fae\8f6f\96c5\9ed1', 'Hiragino Sans GB', sans-serif !important;
  min-width: 1200px;
}
table {
  border-collapse: collapse;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 14px;
  line-height: 1;
}
a {
  text-decoration: none;
  color: #555;
  cursor: pointer;
}
img {
  border: none;
  font-size: 0;
  vertical-align: middle;
}
input,
textarea {
  width: 100%;
  border: 1px solid #bbb;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  font-size: 14px;
  color: #555;
  font-family: Microsoft YaHei, arial, tahoma, '\5fae\8f6f\96c5\9ed1', 'Hiragino Sans GB', sans-serif !important;
}
input.on {
  border-color: #ff6400;
}
textarea {
  resize: none;
  overflow: auto;
}
input[type='radio'],
input[type='checkbox'] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: none;
}
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #bbb;
  line-height: 2.3;
  color: #555;
  font-size: 14px;
  font-family: Microsoft YaHei, arial, tahoma, '\5fae\8f6f\96c5\9ed1', 'Hiragino Sans GB', sans-serif !important;
}
input:disabled {
  opacity: 1 !important;
  -webkit-opacity: 1 !important;
  -webkit-text-fill-color: #333;
}
button {
  cursor: pointer;
  outline: none;
}
/*****************************
placeholder样式
*****************************/
/*火狐浏览器的placeholder默认opacity0.4*/
input:-moz-placeholder,
input::-moz-placeholder {
  opacity: 1;
}
/*设置placeholder样式*/
.placeholer-class::-webkit-input-placeholder {
  color: #adadad;
}
.placeholer-class:-moz-placeholder {
  color: #adadad;
}
.placeholer-class::-moz-placeholder {
  color: #adadad;
}
.placeholer-class:-ms-input-placeholder {
  color: #adadad;
}
/*****************************
辅助类样式
*****************************/
.clearfix::before,
.clearfix::after {
  content: '';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
.wrapper {
  margin: 0 auto;
  width: 1200px;
  min-width: 1200px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.text-r {
  text-align: right !important;
}
.text-l {
  text-align: left !important;
}
.text-c {
  text-align: center !important;
}
.text-j {
  text-align: justify !important;
}
.bg-b {
  background-color: #333333 !important;
  width: 100%;
}
.bg-w {
  background-color: white !important;
  width: 100%;
}
.bg-o {
  background-color: #ff5529 !important;
  width: 100%;
}
.bg-g {
  background-color: #f8f8f8 !important;
  width: 100%;
}
.hide {
  display: none;
}
.pointer {
  cursor: pointer;
}
/* flex布局 */
.flex {
  display: -webkit-flex;
  display: flex;
}
/* 宽度随屏幕改变变化 */
.flex-1 {
  -webkit-flex: 1;
  flex: 1;
}
/* flex-start对齐 */
.flex-start {
  align-items: flex-start;
  -webkit-align-items: flex-start;
}
/* flex-end对齐 */
.flex-end {
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
/* 水平居中 */
.flex-align-center {
  justify-content: center;
  -webkit-justify-content: center;
}
/* 垂直居中 */
.flex-ver {
  -webkit-align-items: center;
  align-items: center;
}
/* 垂直水平居中 */
.flex-center {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
}
/* flex 换行 */
.flex-wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* flex 容器（设置为flex）内子元素向两边顶齐平分 */
.flex-jcsb {
  justify-content: space-between;
}
/* 容器（设置为flex）内子元素靠最后对齐（水平时比较像右浮动） */
.flex-jcfe {
  justify-content: flex-end;
}
/* 容器（设置为flex）内子元素靠最前对齐（水平时比较像左浮动） */
.flex-jcfs {
  justify-content: flex-start;
}
/* 容器（设置为flex）内子元素等高 */
.flex-ais {
  align-items: stretch;
}
/* 容器（设置为flex）内子元素置底 */
.flex-aife {
  align-items: flex-end;
}
/* flex 纵向 */
.flex-col {
  -webkit-flex-flow: column;
  flex-flow: column;
}
.flex-row {
  -webkit-flex-flow: row;
  flex-flow: row;
}
.flex-sb {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.flex-sa {
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.w-half {
  width: 50% !important;
}
.w-max {
  width: 100% !important;
}
.edit_textBox {
  word-break: break-all;
  font-size: 16px;
  line-height: 1.4;
  color: #000;
}
.edit_textBox * {
  font-size: inherit;
  max-width: 100% !important;
}
.edit_textBox td,
.edit_textBox th {
  border: 1px solid #000;
}
.edit_textBox a {
  color: #7030a0;
  text-decoration: underline;
}
.edit_textBox h1,
.edit_textBox h2,
.edit_textBox h3,
.edit_textBox h4,
.edit_textBox h5,
.edit_textBox h6 {
  line-height: 2;
}
.edit_textBox h1 {
  font-size: 32px;
}
.edit_textBox h2 {
  font-size: 24px;
}
.edit_textBox h3 {
  font-size: 18.72px;
}
.edit_textBox h4 {
  font-size: 16px;
}
.edit_textBox h5 {
  font-size: 13.28px;
}
.edit_textBox h6 {
  font-size: 12px;
}
.edit_textBox img {
  display: inline-block;
  height: auto;
  vertical-align: top;
  width: auto;
}
/*****************************
公用分页器样式
*****************************/
#__nuxt .pagination .el-pager li {
  min-width: 40px;
  height: 40px;
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  color: #666;
  line-height: 40px;
  text-align: center;
  background-color: #fff;
  border-right: 0;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
#__nuxt .pagination .el-pager li:hover {
  color: #177dff;
}
#__nuxt .pagination .el-pager li.btn-quickprev,
#__nuxt .pagination .el-pager li.btn-quicknext {
  line-height: 36px;
  color: #333;
}
#__nuxt .pagination .el-pager li:not(.disabled).active {
  background: #177dff;
  color: #fff;
  border: 0;
}
#__nuxt .pagination .btn-next,
#__nuxt .pagination .btn-prev {
  min-width: 40px;
  height: 40px;
  background-color: #fff;
  border: 2px solid #f1f1f1;
}
#__nuxt .pagination .btn-next .el-icon,
#__nuxt .pagination .btn-prev .el-icon {
  display: block;
  font-size: 16px;
  font-weight: 400;
}
#__nuxt .pagination .el-pagination__jump {
  margin-left: 19px;
  font-weight: 400;
  color: #606266;
}
#__nuxt .pagination .el-pagination button,
#__nuxt .pagination .el-pagination span:not([class*='suffix']) {
  display: inline-block;
  font-size: 17px;
  min-width: 35.5px;
  height: 28px;
  line-height: 28px;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#__nuxt .pagination .el-pagination__editor.el-input {
  width: 52px;
}
#__nuxt .pagination .el-input {
  position: relative;
  font-size: 14px;
  display: inline-block;
  width: 100%;
}
#__nuxt .pagination .el-pagination__editor {
  line-height: 18px;
  padding: 0 2px;
  height: 28px;
  text-align: center;
  margin: 0 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
}
#__nuxt .pagination .el-pagination__editor.el-input .el-input__inner {
  height: 28px;
}
#__nuxt .pagination .el-pagination__jump .el-input__inner {
  padding: 0 0px;
}
#__nuxt .pagination .el-pagination .el-input__inner {
  text-align: center;
  -moz-appearance: textfield;
  line-height: normal;
}
#__nuxt .pagination .el-input__inner {
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 40px;
  line-height: 40px;
  outline: 0;
  padding: 0 15px;
  -webkit-transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
}
/*****************************
稀见样式
*****************************/
/*火狐浏览器的placeholder默认opacity0.4*/
input:-moz-placeholder,
input::-moz-placeholder {
  opacity: 1;
}
.placeholer-class::-webkit-input-placeholder {
  color: #adadad;
}
.placeholer-class:-moz-placeholder {
  color: #adadad;
}
.placeholer-class::-moz-placeholder {
  color: #adadad;
}
.placeholer-class:-ms-input-placeholder {
  color: #adadad;
}
/*****************************
公用header
*****************************/
/*****************************
公用footer
*****************************/
/*****************************
页面样式
*****************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
/*****************************
首页
*****************************/
.index-page .index-main {
  padding-left: 280px;
  position: relative;
}
.index-page .index-banner {
  height: 100vh;
  background-color: cyan;
}
.index-page .index-banner .swiper-item .swiper-item-inner {
  background: center center / cover no-repeat;
  height: 100%;
}
.index-page .index-banner .swiper-pagination-bullets {
  right: 28px;
}
.index-page .index-banner .swiper-pagination-bullet {
  opacity: 1;
  margin: 17px auto;
  width: 7px;
  height: 7px;
  border: 1px solid #fff;
  background: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  transform-origin: 50% 50%;
}
.index-page .index-banner .swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.index-page .index-banner .swiper-pagination-bullet-active::after {
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  border: 2px solid #fff;
}
.index-page .view-more {
  position: absolute;
  bottom: 58px;
  left: calc(50% + 140px);
  z-index: 99;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 18px;
  font-family: PingFang SC;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 2px;
}
.index-page .view-more::before {
  content: '';
  display: block;
  width: 2px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: -74px;
  margin-left: -1px;
  background-color: #fff;
}
/*****************************
开始书写页面样式
*****************************/
/*****************************
搜索页
*****************************/
.search-page {
  min-height: 100vh;
  background: #eeeeee;
}
.search-page .search-main {
  padding: 92px 0 92px 586px;
  position: relative;
}
.search-page .search-wrapper {
  width: 885px;
}
.search-page .search-wrapper .search-enter-box {
  position: relative;
}
.search-page .search-wrapper .search-enter {
  line-height: 54px;
  font-size: 14px;
  font-family: PingFang SC;
  color: #999999;
  border: none;
  background-color: #fff;
  padding-left: 35px;
  padding-right: 50px;
  color: #2d5533;
}
.search-page .search-wrapper .search-enter::-webkit-input-placeholder {
  color: #999999;
}
.search-page .search-wrapper .search-enter:-moz-placeholder {
  color: #999999;
}
.search-page .search-wrapper .search-enter::-moz-placeholder {
  color: #999999;
}
.search-page .search-wrapper .search-enter:-ms-input-placeholder {
  color: #999999;
}
.search-page .search-wrapper .search-icon {
  position: absolute;
  top: 50%;
  right: 16px;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.search-page .search-wrapper .search-tip {
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #999999;
  padding: 35px 20px 12px;
}
.search-page .search-wrapper .search-tip span {
  color: #2d5533;
}
.search-page .search-wrapper .result-list .result-item {
  padding: 40px 0;
  border-top: 1px solid #bfbfbf;
}
.search-page .search-wrapper .result-list .img-box {
  width: 286px;
  height: 146px;
  flex-shrink: 0;
}
.search-page .search-wrapper .result-list .img-box .img {
  width: 100%;
  height: 100%;
}
.search-page .search-wrapper .result-list .info-box {
  flex-grow: 1;
  width: calc(100% - 286px);
  padding-left: 20px;
}
.search-page .search-wrapper .result-list .info-box .item-tit {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  padding: 20px 0;
  font-family: PingFang SC;
  font-weight: bold;
  color: #2d5533;
}
.search-page .search-wrapper .result-list .info-box .item-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 14px;
  font-family: PingFang SC;
  color: #666666;
  line-height: 24px;
}
.search-page .search-wrapper .result-list .info-box .item-date {
  padding-top: 20px;
  font-size: 14px;
  line-height: 1;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #999999;
  letter-spacing: 0.5px;
}
.search-page .search-wrapper .no-result {
  padding: 35px 20px;
  font-size: 14px;
  font-family: PingFang SC;
  color: #999999;
}
/*****************************
品牌故事
*****************************/
.story-page {
  padding-left: 280px;
}
.story-page .main-banner {
  background-image: url(../images/culture/Ourstory.jpg);
}
.story-page .common-view-more {
  padding: 45px 0 116px;
}
.story-page .story-wrapper .img {
  width: 100%;
}
.story-page .story-wrapper .inner-top {
  margin-bottom: 72px;
}
.story-page .story-wrapper .inner-top .show-box {
  width: 954px;
  margin: 0 auto;
}
.story-page .story-wrapper .inner-top .show-list {
  width: 428px;
}
.story-page .story-wrapper .inner-top .show-list2 {
  margin-top: 225px;
}
.story-page .story-wrapper .inner-top .show-item:nth-child(n + 2) {
  margin-top: 186px;
}
.story-page .story-wrapper .inner-top .show-item .img-box {
  position: relative;
}
.story-page .story-wrapper .inner-top .show-item .img-box .img {
  width: 428px;
  height: 322px;
}
.story-page .story-wrapper .inner-top .show-item .img-box .tag {
  position: absolute;
  left: -60px;
  bottom: -33px;
  height: 104px;
}
.story-page .story-wrapper .inner-top .show-item .item-desc {
  text-align: left;
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #999999;
  line-height: 24px;
  padding: 50px 0 18px;
  position: relative;
}
.story-page .story-wrapper .inner-top .show-item .item-desc::after {
  content: '';
  display: block;
  width: 182px;
  height: 1px;
  background: #e0e1de;
  position: absolute;
  left: 0;
  bottom: 0;
}
.story-page .story-wrapper .inner-bottom .intro-box {
  height: 660px;
  position: relative;
  background: url(../images/culture/BG1.jpg) top center / cover no-repeat;
}
.story-page .story-wrapper .inner-bottom .intro-box .intro-txt-box {
  width: 670px;
  position: absolute;
  top: 470px;
  left: 50%;
  margin-left: -335px;
  font-size: 30px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #2d5533;
  line-height: 60px;
}
.story-page .story-wrapper .inner-bottom .intro-box2 {
  background: url(../images/culture/BG2.jpg) center / cover repeat-y;
  padding-bottom: 125px;
}
.story-page .story-wrapper .inner-bottom .intro-box2 .intro-list {
  width: 695px;
  margin: 0 auto;
}
.story-page .story-wrapper .inner-bottom .intro-box2 .intro-item {
  border-top: 1px solid #d2d2d2;
}
.story-page .story-wrapper .inner-bottom .intro-box2 .item-tit {
  padding: 80px 30px 50px;
  font-size: 24px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #2d5533;
}
.story-page .story-wrapper .inner-bottom .intro-box2 .item-img {
  width: 100%;
}
.story-page .story-wrapper .inner-bottom .intro-box2 .item-txt-box {
  padding: 45px 30px 80px;
}
.story-page .story-wrapper .inner-bottom .intro-box2 .item-txt {
  font-size: 12px;
  font-family: PingFang SC;
  color: #999999;
  line-height: 24px;
  margin-bottom: 28px;
}
.story-page .story-wrapper .inner-bottom .intro-box2 .item-txt:last-child {
  margin-bottom: 0;
}
/*****************************
荟宝文化
*****************************/
.about-page {
  padding-left: 280px;
}
.about-page .main-banner {
  background-image: url(../images/culture/aboutus.jpg);
}
.about-page .about-wrapper {
  width: 1020px;
  margin: 0 auto;
}
.about-page .about-wrapper .base-list {
  margin-bottom: 120px;
}
.about-page .about-wrapper .base-item {
  text-align: center;
}
.about-page .about-wrapper .base-item .item-tit {
  padding: 80px 0 30px;
  font-size: 30px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #2d5533;
}
.about-page .about-wrapper .base-item .item-txt {
  font-size: 12px;
  font-family: PingFang SC;
  color: #666666;
  line-height: 30px;
}
.about-page .about-wrapper .base-item .item-img {
  margin-top: 85px;
  width: 100%;
}
.about-page .about-wrapper .show-list {
  margin-bottom: 130px;
  position: relative;
}
.about-page .about-wrapper .show-list .line-box {
  width: 2px;
  height: 100%;
  background: #2d5533;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
}
.about-page .about-wrapper .show-list .line-box .line-dot {
  width: 14px;
  height: 14px;
  background: #2d5533;
  border-radius: 50%;
  position: absolute;
  left: -6px;
}
.about-page .about-wrapper .show-list .line-box .line-dot:nth-child(1) {
  top: 173px;
}
.about-page .about-wrapper .show-list .line-box .line-dot:nth-child(2) {
  top: 555px;
}
.about-page .about-wrapper .show-list .line-box .line-dot:nth-child(3) {
  top: 950px;
}
.about-page .about-wrapper .show-list .line-box .line-dot:nth-child(4) {
  top: 1332px;
}
.about-page .about-wrapper .show-item {
  margin-bottom: 40px;
}
.about-page .about-wrapper .show-item:last-child {
  margin-bottom: 0;
}
.about-page .about-wrapper .show-item .item-l,
.about-page .about-wrapper .show-item .item-r {
  width: 463px;
  height: 348px;
}
.about-page .about-wrapper .show-item .item-img {
  width: 100%;
  height: 100%;
}
.about-page .about-wrapper .show-item .mul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-page .about-wrapper .show-item .mul .mul-icon {
  height: 66px;
  margin-bottom: 16px;
}
.about-page .about-wrapper .show-item .mul .mul-tit {
  margin-bottom: 24px;
  font-size: 24px;
  font-family: PingFang SC;
  font-weight: bold;
  color: #2d5533;
}
.about-page .about-wrapper .show-item .mul .mul-line {
  width: 1px;
  height: 30px;
  background: #2d5533;
  margin-bottom: 17px;
}
.about-page .about-wrapper .show-item .mul .mul-txt {
  font-size: 14px;
  font-family: PingFang SC;
  color: #666666;
}
.about-page .about-wrapper .research {
  text-align: center;
  padding-bottom: 195px;
}
.about-page .about-wrapper .research-tit {
  padding: 88px 0 30px;
  font-size: 30px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #2d5533;
}
.about-page .about-wrapper .research-txt {
  font-size: 12px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #999999;
  line-height: 18px;
}
.about-page .about-wrapper .screen {
  position: relative;
}
.about-page .about-wrapper .screen .screen-top {
  position: relative;
  padding-top: 72px;
  border-bottom: 1px solid #2d5533;
}
.about-page .about-wrapper .screen .screen-top .img {
  display: block;
  height: 234px;
}
.about-page .about-wrapper .screen .screen-top::after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  background: #2d5533;
  border-radius: 50%;
  position: absolute;
  left: -4px;
  bottom: -5px;
}
.about-page .about-wrapper .screen .screen-bottom {
  width: 530px;
  padding-left: 30px;
}
.about-page .about-wrapper .screen .screen-bottom .b-tit {
  font-size: 18px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #2d5533;
  padding: 60px 0 28px;
}
.about-page .about-wrapper .screen .screen-bottom .b-txt {
  font-size: 12px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #999999;
  line-height: 28px;
}
.about-page .about-wrapper .screen .screen-control {
  width: 410px;
  height: 410px;
  position: absolute;
  top: 100px;
  left: 520px;
}
.about-page .about-wrapper .screen .screen-control .control {
  width: 146px;
  height: 119px;
  position: absolute;
  bottom: 84px;
  right: -114px;
  background-color: #fff;
  padding-top: 32px;
}
.about-page .about-wrapper .screen .screen-control .btn-l,
.about-page .about-wrapper .screen .screen-control .btn-r {
  vertical-align: top;
  width: 20px;
  height: 20px;
}
.about-page .about-wrapper .screen .screen-control .line {
  margin: 0 27px;
  display: inline-block;
  width: 1px;
  height: 20px;
  background: #bfbfbf;
}
/*****************************
发展历程
*****************************/
.development-page {
  padding-left: 280px;
  padding-bottom: 100px;
}
.development-page .main-banner {
  background-image: url(../images/culture/4linan.jpg);
}
.development-page .development-wrapper .about-box {
  width: 980px;
  margin: 0 auto;
  padding: 105px 0 88px;
}
.development-page .development-wrapper .about-l {
  width: 505px;
}
.development-page .development-wrapper .about-l .about-tit {
  font-size: 30px;
  font-family: PingFang SC;
  color: #2d5533;
  padding-bottom: 40px;
}
.development-page .development-wrapper .about-l .about-txt {
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: bold;
  color: #666666;
  line-height: 30px;
}
.development-page .development-wrapper .about-l .about-txt span:first-child {
  display: inline-block;
  padding-bottom: 30px;
}
.development-page .development-wrapper .about-r {
  width: 420px;
}
.development-page .development-wrapper .about-r .img {
  width: 100%;
}
.development-page .development-wrapper .about-r .img:first-child {
  margin-bottom: 32px;
}
.development-page .development-wrapper .mul-box {
  height: 470px;
  background: url(../images/culture/beijing.jpg) center / cover repeat-y;
}
.development-page .development-wrapper .mul-box .mul-list {
  padding-top: 106px;
  width: 980px;
  margin: 0 auto;
}
.development-page .development-wrapper .mul-box .mul-item .item-img {
  width: 100%;
  height: 123px;
}
.development-page .development-wrapper .mul-box .mul-item .item-tit {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 24px;
  font-family: PingFang SC;
  font-weight: bold;
  color: #ffffff;
  padding: 30px 0 17px;
  border-bottom: 1px solid #fff;
}
.development-page .development-wrapper .mul-box .mul-item .item-desc {
  padding: 20px 0;
  font-size: 16px;
  font-family: PingFang SC;
  color: #ffffff;
  line-height: 30px;
}
.development-page .development-wrapper .our-news-box .swiper-container {
  height: 100%;
}
.development-page .development-wrapper .our-news-box .swiper-item * {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.development-page .development-wrapper .our-news-box .swiper-item.swiper-slide-prev,
.development-page .development-wrapper .our-news-box .swiper-item.swiper-slide-nuxt {
  flex: 1 !important;
  height: auto !important;
}
.development-page .development-wrapper .our-news-box .swiper-item.swiper-slide-prev .slide-top,
.development-page .development-wrapper .our-news-box .swiper-item.swiper-slide-nuxt .slide-top {
  padding: 0;
}
.development-page .development-wrapper .our-news-box .swiper-item.swiper-slide-active {
  height: auto !important;
  flex: 2 !important;
}
.development-page .development-wrapper .our-news-box .swiper-item.swiper-slide-active .slide-top {
  padding: 10px 0;
}
.development-page .development-wrapper .our-news-box .swiper-item.swiper-slide-active .slide-bottom {
  min-height: 200px !important;
  border-left: 1px solid #2d5533 !important;
  padding: 24px 40px 48px !important;
}
.development-page .development-wrapper .our-news-box .swiper-item.swiper-slide-active .date {
  color: #2d5533 !important;
}
.development-page .development-wrapper .our-news-box .swiper-item.swiper-slide-active .date-icon {
  width: 22px !important;
  height: 22px !important;
  margin-right: -1px;
}
.development-page .development-wrapper .our-news-box .swiper-item.swiper-slide-active .slide-tit {
  margin-bottom: 24px !important;
  font-size: 24px !important;
  color: #333333 !important;
}
.development-page .development-wrapper .our-news-box .swiper-item.swiper-slide-active .slide-img {
  width: 240px !important;
}
.development-page .development-wrapper .our-news-box .swiper-pagination {
  display: block;
  position: static;
}
.development-page .development-wrapper .our-news-box .swiper-pagination-bullet {
  display: block;
  opacity: 1;
  height: auto;
  width: auto;
  background: none;
  font-size: 14px;
  font-family: PingFang SC;
  color: #999999;
  margin-bottom: 28px;
}
.development-page .development-wrapper .our-news-box .swiper-pagination-bullet:last-child {
  margin-bottom: 0;
}
.development-page .development-wrapper .our-news-box .swiper-pagination-bullet.swiper-pagination-bullet-active {
  color: #2d5533;
}
.development-page .development-wrapper .our-news-box .news-tit {
  text-align: center;
  padding: 102px 0 84px;
  font-size: 30px;
  font-family: PingFang SC;
  color: #2d5533;
}
.development-page .development-wrapper .our-news-box .news-box {
  padding-left: 16.5%;
}
.development-page .development-wrapper .our-news-box .news-box .box-l {
  width: 230px;
  background-color: pink;
}
.development-page .development-wrapper .our-news-box .news-box .box-r {
  width: 590px;
  height: 680px;
}
.development-page .development-wrapper .our-news-box .news-swiper .swiper-item .slide-top {
  display: inline-block;
  line-height: 28px;
  width: 120px;
  text-align: right;
}
.development-page .development-wrapper .our-news-box .news-swiper .swiper-item .date {
  font-size: 20px;
  font-family: PingFang SC;
  color: #d2d2d2;
  display: inline-block;
  margin-right: 7px;
}
.development-page .development-wrapper .our-news-box .news-swiper .swiper-item .date-icon {
  width: 18px;
  height: 18px;
  display: inline-block;
}
.development-page .development-wrapper .our-news-box .news-swiper .swiper-item .slide-bottom {
  min-height: 100px;
  margin-left: 110px;
  border-left: 1px solid #bfbfbf;
  padding: 10px 40px 20px;
}
.development-page .development-wrapper .our-news-box .news-swiper .swiper-item .slide-tit {
  line-height: 1;
  margin-bottom: 15px;
  font-family: PingFang SC;
  font-size: 16px;
  color: #999999;
}
.development-page .development-wrapper .our-news-box .news-swiper .swiper-item .slide-img {
  width: 185px;
}
/*****************************
产品介绍
*****************************/
.product-page {
  padding: 35px 100px 35px 380px;
}
.product-page .product-main .product-box {
  position: relative;
}
.product-page .product-main .product-box-type2 .intro-box .intro-tit {
  color: #2d5533;
}
.product-page .product-main .product-box-type2 .intro-box .intro-txt {
  color: #666666;
}
.product-page .product-main .product-banner {
  width: 100%;
}
.product-page .product-main .intro-box {
  width: 23%;
  position: absolute;
  top: 9.2%;
  right: 17%;
}
.product-page .product-main .intro-box .intro-tag {
  height: 25px;
}
.product-page .product-main .intro-box .intro-tit {
  font-size: 30px;
  font-family: PingFang SC;
  font-weight: bold;
  color: #ffffff;
  line-height: 48px;
  margin: 20px 0 25px;
}
.product-page .product-main .intro-box .intro-txt {
  font-size: 12px;
  font-family: PingFang SC;
  font-weight: bold;
  color: #ffffff;
  line-height: 30px;
}
.product-page .product-main .product-list {
  position: absolute;
  top: -90px;
  left: 100px;
}
.product-page .product-main .product-list .product-item {
  margin-right: 12px;
}
.product-page .product-main .product-list .product-item:last-child {
  margin-right: 0;
}
.product-page .product-main .product-list .product-item .item-img {
  width: 170px;
  height: 170px;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.1);
}
.product-page .product-main .product-list .product-item .item-txt {
  padding-top: 30px;
  font-size: 12px;
  font-family: PingFang SC;
  color: #666666;
}
.product-page .product-main .mul-box {
  padding-bottom: 230px;
  position: relative;
}
.product-page .product-main .mul-box .mul-img {
  position: absolute;
  top: -40px;
  right: 60px;
  width: 492px;
}
.product-page .product-main .view-more {
  cursor: pointer;
  position: absolute;
  bottom: 88px;
  right: 17.5%;
}
.product-page .product-main .my-svg-path {
  stroke-dasharray: 253px, 253px;
  stroke-dashoffset: 253px;
  transition: stroke-dashoffset 0.6s ease 0s, stroke 0.6s ease 0s;
  transform: rotateZ(60deg) rotateY(180deg);
  transform-origin: 50% 50%;
  transition: stroke-dashoffset 1.5s;
}
.product-page .product-main #wrap:hover .my-svg-path,
.product-page .product-main #wrap2:hover .my-svg-path {
  stroke-dashoffset: 0;
}
.product-page .product-main #wrap:hover .txt,
.product-page .product-main #wrap2:hover .txt {
  color: #2d5533;
}
.product-page .product-main #wrap .txt,
.product-page .product-main #wrap2 .txt {
  white-space: nowrap;
  font-size: 16px;
  font-family: PingFang SC;
  color: #999999;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  position: absolute;
  left: 55px;
  bottom: 15px;
}
/*****************************
申请办法
*****************************/
.procedure-page {
  padding-left: 280px;
}
.procedure-page .main-banner {
  background-image: url(../images/others/Applicationprocedure.jpg);
}
.procedure-page .procedure-wrapper {
  text-align: center;
  padding: 67px 0 60px;
}
/*****************************
荟宝动态
*****************************/
.news-page {
  background-color: #fff;
  padding-left: 280px;
  padding-bottom: 105px;
}
.news-page .main-banner {
  background-image: url(../images/others/news.jpg);
}
.news-page .news-wrapper .nav-list {
  padding: 65px 0 70px;
}
.news-page .news-wrapper .nav-list .nav-item {
  cursor: pointer;
  line-height: 1;
  margin-right: 78px;
  font-size: 16px;
  font-family: PingFang SC;
  color: #999999;
  padding-bottom: 15px;
}
.news-page .news-wrapper .nav-list .nav-item:last-child {
  margin-right: 0;
}
.news-page .news-wrapper .nav-list .nav-item.active {
  color: #2d5533;
  border-bottom: 1px solid #2d5533;
}
.news-page .news-wrapper .news-list {
  width: 1190px;
  margin: 0 auto;
  padding-bottom: 20px;
  cursor: pointer;
}
.news-page .news-wrapper .news-list .news-item {
  line-height: 1;
  width: calc(50% - 25px);
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}
.news-page .news-wrapper .news-list .news-item:nth-child(odd) {
  margin-right: 50px;
}
.news-page .news-wrapper .news-list .news-item .item-img {
  width: 100%;
  height: 288px;
}
.news-page .news-wrapper .news-list .news-item .item-info {
  height: 165px;
}
.news-page .news-wrapper .news-list .news-item .item-tit {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 26px 0 20px;
  font-size: 26px;
  font-family: PingFang SC;
  color: #224533;
}
.news-page .news-wrapper .news-list .news-item .item-desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: bold;
  color: #666666;
  margin-bottom: 12px;
}
.news-page .news-wrapper .news-list .news-item .item-other {
  font-size: 14px;
  font-family: PingFang SC;
  color: #999999;
}
.news-page .news-wrapper .news-list .news-item .item-other .line {
  display: inline-block;
  font-size: 12px;
  margin: 0 8px;
}
.news-page .news-wrapper .view-more {
  display: block;
  width: 368px;
  height: 60px;
  margin: 0 auto;
  background: #ffffff;
  border: 1px solid #2d5533;
  font-size: 24px;
  font-family: PingFang SC;
  color: #1b3c2b;
}
/*****************************
动态详情页
*****************************/
.detail-page {
  background-color: #fff;
  padding-left: 280px;
}
.detail-page .main-banner {
  background-image: url(../images/others/news.jpg);
}
.detail-page .detail-wrapper {
  padding: 0 13% 13%;
}
.detail-page .detail-wrapper .detail-hd {
  border-bottom: 1px solid #bfbfbf;
}
.detail-page .detail-wrapper .detail-hd .hd-inner {
  padding: 5.6% 18.7% 5.9%;
}
.detail-page .detail-wrapper .detail-hd .hd-inner .tit {
  font-size: 30px;
  line-height: 1.2;
  font-family: PingFang SC;
  font-weight: bold;
  color: #2d5533;
  margin-bottom: 36px;
}
.detail-page .detail-wrapper .detail-hd .hd-inner .others {
  font-size: 16px;
  font-family: PingFang SC;
  color: #999999;
}
.detail-page .detail-wrapper .detail-hd .hd-inner .others .line {
  display: inline-block;
  font-size: 14px;
  margin: 0 8px;
}
.detail-page .detail-wrapper .detail-bd {
  padding: 0 12.5%;
}
/*****************************
联系我们
*****************************/
.contact-page {
  background-color: #fff;
  padding-left: 280px;
}
.contact-page .main-banner {
  background-image: url(../images/others/contactus.jpg);
}
.contact-page .contact-wrapper {
  padding-bottom: 95px;
  width: 1180px;
  margin: 0 auto;
}
.contact-page .contact-info {
  padding-top: 76px;
  flex-grow: 1;
  text-align: center;
}
.contact-page .contact-info .info-logo {
  display: inline-block;
  margin-bottom: 58px;
}
.contact-page .contact-info .logo {
  width: 124px;
}
.contact-page .contact-info .tel-txt {
  font-size: 18px;
  font-family: PingFang SC;
  color: #333333;
  line-height: 18px;
  margin-bottom: 28px;
}
.contact-page .contact-info .tel {
  font-size: 36px;
  font-family: Barlow;
  font-weight: bold;
  color: #2d5533;
  line-height: 1;
}
.contact-page .contact-enter {
  width: 716px;
  flex-shrink: 0;
  padding-top: 42px;
}
.contact-page .contact-enter .enter-tit {
  font-size: 20px;
  font-family: PingFang SC;
  font-weight: bold;
  color: #333333;
  margin-bottom: 20px;
}
.contact-page .contact-enter .enter-item {
  width: 350px;
  height: 48px;
  background: #efefef;
  padding: 0 27px;
  border: 0;
}
.contact-page .contact-enter .enter-item.enter-item-mul {
  width: 100%;
  height: 118px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 0 !important;
  padding: 18px 27px;
}
.contact-page .contact-enter .enter-item:nth-child(odd) {
  margin-right: 16px;
}
.contact-page .contact-enter .enter-item:nth-child(n + 3) {
  margin-top: 16px;
}
.contact-page .contact-enter .btn-submit {
  width: 200px;
  height: 48px;
  margin: 22px auto 0;
  display: block;
  font-size: 18px;
  font-family: PingFang SC;
  color: #ffffff;
  border: 0;
  background: #2d5533;
}
/*****************************
荟宝优势
*****************************/
.investment-page {
  padding-left: 280px;
}
.investment-page .main-banner {
  background-image: url(../images/others/Joininvestment.jpg);
}
.investment-page .investment-wrapper {
  width: 774px;
  margin: 0 auto;
}
.investment-page .investment-wrapper .img {
  width: 100%;
}
.common-banner {
  height: 480px;
  background: center center / cover no-repeat;
  position: relative;
}
.common-banner .banner-title-box {
  position: absolute;
  left: 92px;
  bottom: 90px;
  line-height: 1;
}
.common-banner .banner-title-box .tit-cn {
  font-size: 36px;
  font-family: PingFang SC;
  font-weight: bold;
  color: #ffffff;
  padding-bottom: 20px;
  position: relative;
}
.common-banner .banner-title-box .tit-cn::after {
  content: '';
  display: block;
  width: 100px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
}
.common-banner .banner-title-box .tit-en {
  padding-top: 14px;
  font-size: 18px;
  font-family: PingFang SC;
  font-weight: bold;
  color: #ffffff;
}
.common-tit {
  line-height: 1;
  font-size: 30px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #2d5533;
  padding: 73px 0 32px;
}
.common-txt {
  font-size: 12px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #666666;
  line-height: 30px;
}
.common-view-more .line {
  margin: 0 auto;
  width: 2px;
  height: 50px;
  background: #d2d2d2;
  margin-bottom: 22px;
}
.common-view-more .txt {
  text-align: center;
  font-size: 14px;
  font-family: PingFang SC;
  color: #999999;
}
